# python
.venv/
venv/
__pycache__/
*.pyc
backup-main.py

backup-swapengine.py
# models / weights / large binaries
weights/
gfpgan/weights/
*.pth
*.onnx
*.pt
*.bin
*.ckpt
*.safetensors

# caches
.cache/
*.log

.theme_cache/
theme_cache/
public/uploads/
.DS_Store
.env
.env.local
